body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4fdf4;
}

.principal {
  background: url("imagen.webp") center/cover no-repeat;
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 20px;
  margin-top: 10px;
}
.btn {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
 footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
